.outer
    section.hero.is-dark.is-medium
        .hero-body
            .container.has-text-centered
                h1.title Contact
                h2.subtitle Want to tell us something, let us know.
    section.section
        .container
            .columns
                .column.is-two-thirds
                    form#contact-form
                        .field
                            label.label.is-inline-block(for="name") Your Name
                            span.help.is-pulled-right(data-valmsg-for="name")
                            p.control
                                input.input(name="name", type="text" placeholder="Name")
                        .field
                            label.label.is-inline-block(for="email") Your Email Address
                            span.help.is-pulled-right(data-valmsg-for="email")
                            p.control
                                input.input(name="email" type="email" placeholder="Your email address")
                        .field
                            label.label.is-inline-block(for="message") Message
                            span.help.is-pulled-right(data-valmsg-for="message")
                            p.control
                                textarea.textarea(name="message" placeholder="Message")
                        .field
                            p.control
                                button.button.is-primary Submit
                .column
                    .content
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                        a.is-block(href="https://www.facebook.com/CharityTreks/")
                            span.icon-facebook
                            | facebook.com/charitytreks/
                        a.is-block(href="https://twitter.com/@charitytreks")
                            span.icon-twitter
                            | @charitytreks