.outer
    .page-content.not-found.is-hidden
        section.hero.is-medium
            .hero-body
                .container
                    h1.title Hmm
                    h2.subtitle It seems that you might be lost.
                    .buttons
                        a#back.button.is-outlined Back
                        a.button.is-outlined(href="/" data-navigation) Home
    
