.columns.not-authenticated.hidden
    .column.is-5.is-offset-6
        .has-text-centered.page-content
            h1.title.is-2 Login to Continue
            button.is-medium.is-info.is-outlined Login