.columns
    .column.is-5.is-offset-6
        .has-text-centered.page-content
            h1.title.is-2 Trekking for Charity
            h2.subtitle.is-4 Walk, Run, Ride - Share it all.
            br
            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            br
            p
                a.button.is-medium.is-info.is-outlined(href="/get-started", data-navigation) Get Started