{
    "auth": {
       "authority": "https://trekkingforcharity.eu.auth0.com/",
        "automaticSilentRenew": true,
        "clientId": "EXQEYsS2Joah48AFyb6KbnmME2h9lXoc",
        "loadUserInfo": true,
        "redirectUri": "http://localhost:1234/signed-in",
        "responseType": "id_token token",
        "silentRedirectUri": "http://localhost:1234/silent-renew"
    }
}